extends layout

block content
  .container#app-wrapper
    .row
      .col-xs-6.col-xs-offset-3#signIn
        #sign-in-wrapper
          .g-signin2(data-onsuccess='onSignIn')
      .col-xs-12#game-wrapper
        #host-banner-wrapper
        #header-wrapper
          h1
            u= title
        //p Welcome to #{title}
        #round
          #number-wrapper
            h1 Round: 
            h1#number
          #stage
            h2 Stage:
            h4#phase
        #timer-buttons.group.hidden
        #timer-wrapper
          #timer
        #server-disconnect
        #question-box-wrapper.hidden
          #question-box-header 
            u Current Question:
          #question-box
        form#answer-to-question-wrapper.hidden
          .form-group
            input#answer-box.form-control(type='text', name='sessionID', placeholder='answer' autocomplete='off')
            button#submit-answer.btn.btn-primary Submit Answer
        #show-answer.hidden
          h3 Your Answer: 
          h4#answer
        #all-answers-for-voting.hidden
          #answers-header 
            h3 Vote on who gave each answer!!!
        #current-score.hidden
          #score
        #signed-in-as
          #username
            h4 Signed in as:
            h5#name
          a#sign-out(href='#', onclick='signOut();') Sign out

