extends layout

block content
  .container
    .row
      .col-xs-12
        h3#host-banner You are the host
        #header-wrapper
          h1
            u= title
        //p Welcome to #{title}
        #timer-buttons
          h3 Timer Controls
          button#start-timer.btn.btn-success Click to start timer
          button#stop-timer.btn.btn-danger Stop
          button#reset-timer.btn.btn-info Reset
        #timer-wrapper
          #timer
        #question-box-wrapper
          #question-box-header 
            u Current Question:
          #question-box
        form#answer-to-question-wrapper
          .form-group
            input#answer-box.form-control(type='text', name='sessionID', placeholder='answer' autocomplete='off')
            button#submit-answer.btn.btn-primary Submit Answer
        #show-answer.hidden
          h3 Your Answer: 
          h4#answer
        #all-answers-for-voting
          #answers-header 
            h3 Vote on who gave each answer!!!
