doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(src='socket.io/socket.io.js')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/index.js')
    script(src="https://apis.google.com/js/platform.js" async defer)
    meta(name="google-signin-client_id" content="1049245182927-c5cifsk2utn1ogrqa6mb1763j6vu381o.apps.googleusercontent.com")
  body
    block content
