html {
  height: 100%;
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

#timer-wrapper {
	border: solid black 1px;
	margin-top: -1px;
	margin-bottom: 1em;
}

#timer {
	font-size: 42px;
	text-align: center;
  line-height: 1em;
}

#timer-buttons button{
	display: inline-block;
	margin-right: 1.5em;
  margin-top: 1em;
}

#timer-buttons {
  border: solid black 1px;
  padding: 1em;
  width: 100%;
}

#timer-buttons h3{
  margin-top: 0;
}

#question-box-wrapper {
	margin-top: 2em;
	font-size: 24px;
  display: none;
}

#answer-to-question-wrapper {
  display: none;
}

#question-box-header {
	display: inline-block;
	font-weight: bold;
}

#question-box {
	display: inline-block;
	margin-left: 0.5em;
}

.container {
  background-color: #F8F6F6;
}

#app-wrapper {
  min-height: 100%;
  padding-bottom: 5em;
}

::-webkit-scrollbar { 
    display: none; 
}

#submit-answer {
  margin-top: 0.5em;
}

#host-banner {
  margin-top: 0;
  background-color: #60E0ED;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  width: auto;
  margin-bottom: 0;
}

#show-answer h3, #show-answer #answer {
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#show-answer {
  color: white;
  background-color: #414C6B;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

#show-answer #answer {
  margin-left: 1em;
  margin-top: 0;
}

#show-answer h3 {
  font-weight: bold;
}

#header-wrapper {
  margin-left: -15px;
  margin-right: -15px;
  height: 6em;
  text-align: center;
  border: solid 1px #9F9F9F;
  color: white;
  background-color: #9F9F9F;
  margin-bottom: 2em;
}

#header-wrapper h1 {
  margin-right: -15px;
  margin-left: -15px;
}

#answers-header h3 {
  text-align: center;
  font-weight: bold;
}

#answers-header {
  border-bottom: solid grey 1px;
}

#all-answers-for-voting {
  margin-top: 4em;
}

/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}

#timer-buttons #end-round {
  float: right;
  margin-right: 0;
}